/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*
CS385GameClient/Library/SourceAssetDB
CS385GameClient/Library/SourceAssetDB
CS385GameClient/Library/SourceAssetDB
CS385GameClient/Library/ArtifactDB
CS385GameClient/Library/*
CS385GameClient/Temp/*
CS385GameClient/Obj/*
CS385GameClient/Build/*
CS385GameClient/Builds/*
CS385GameClient/Logs/*
CS385GameClient/UserSettings/*
